/* applied styles from style.css then made some specific edits to the choices */
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0 0.4rem 1.4rem 0 #b6717180;
  background-color: white;
}

#countdown {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #b6717180;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #b67171;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}
/* used to color code when users select an answer - green for correct, red for incorrect */
.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* score, and question styles */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}
